<form id="registerForm">
    <div class="mb-3">
        <label for="name" class="form-label">Ad</label>
        <input type="text" class="form-control" id="name" name="Name" required />
        <label for="surname" class="form-label">Soy Ad</label>
        <input type="text" class="form-control" id="surname" name="Surname" required />
        <label for="email" class="form-label">E-posta</label>
        <input type="email" class="form-control" id="email" name="Email" required />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Şifre Oluşturun</label>
        <input type="password" class="form-control" id="password" name="Password" required />
    </div>
    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
</form>
