@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kütüphaneye Hoş Geldiniz</h1>
    <br />
<br />
    <p class="lead">Kitaplarımızı keşfedin, yeni kitaplar ekleyin ve kütüphanemizin tadını çıkarın!</p>
    <br />  
</div>
<br />
<br />
    <div class="bg-margin p-2 text-center">
        <button class="btn btn-outline-primary btn-lg me-3" id="btnRegister">Üye Ol</button>
        <br />
        <br />  
        <button class="btn btn-outline-success btn-lg me-2" id="btnLogin">Kullanıcı Girişi</button>
        <br />
        <br />
        <button class="btn btn-outline-dark btn-lg" id="btnAdmin">Yönetici Girişi</button>
    </div>
<div class="text-center mt-5">
    <h2>Hakkımızda</h2>
    <p>
        Kütüphanemiz, kitap severler için geniş bir koleksiyon sunmaktadır. 
        Amacımız, okuma alışkanlığını teşvik etmek ve topluma kültürel katkıda bulunmaktır.
    </p>
</div>
    <div class="=text-center">
<br />
<br />
    <h2>İletişim</h2>
    <p>
        Sorularınız veya önerileriniz için bizimle iletişime geçebilirsiniz:
        <br />
        Tel no: 01234567890
        <br />
</div>

